<h1>EDA Community</h1>
<div class="profile">
  <div class="item">
    <div class="user">
      {{this.id}}
      {{this.displayName}}
      {{this.about}}
      {{this.skill1}}
      {{this.skill2}}
      {{this.skill3}}
      {{this.skill4}}
      {{this.skill5}}
    </div>
    <div class="editButton">
      <a href="#">Edit my info</a>
    </div>
  </div>
</div>
</div>
